---
layout: default
title: CodeHub (OpenTechSchool Bristol) Documentation
---

{% for post in site.posts %}
<article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <h3>Posted on {{ post.date | date_to_long_string }} </h3>
    <div class="margin-vert posts-content">
      <div class="posts-inner">
      {{ post.content }}  
      {% if post.author %}
      By {{ post.author }}<br />
      {% endif %}
      {% if post.categories %}    
        <p>Posted in Categories: 
        {% for category in post.categories %}
          <a href="/categories.html#{{ category | First }}">{{ category | First }}</a>
        {% endfor %}
      {% endif %} 
      </div>
    </div>
</article> 
{% endfor %}


