  <header id="header">
    <div class="inner heading">
      <h1><a href="/">CodePages</a></h1>
      <ul class="nav">
        <li{% if page.url == '/contents.html' %} class="current section-active" {% endif %}><a href="/contents.html">Index</a>
        <li{% if page.url == '/categories.html' %} class="current section-active" {% endif %}><a href="/categories.html">Categories</a>
        <li class="gitlink"><a href="http://github.com/CodeHubOrg">Git Repos</a>
        <li class="codehublink"><a href="http://codehub.org.uk">CodeHub</a></li>
      </ul>
    <div class="inner margins-vert"></div>
  </header>