  <header id="header">
    <div class="inner heading">
      
      <a href="/"><img class="codehub-logo" src="/img/codehub.svg" onerror="this.src='/img/codehub.png'" alt="CodeHub logo"></a>
      <div class="nav-wrapper">
        <nav class="nav-main" role="navigation">
          <ul class="nav inline-list">
            <li{% if page.url == '/contents.html' %} class="current section-active" {% endif %}><a href="/contents.html">Index</a>
            <li{% if page.url == '/categories.html' %} class="current section-active" {% endif %}><a href="/categories.html">Categories</a>
            <li class="gitlink"><a href="http://github.com/CodeHubOrg">Git Repos</a>
            <li class="codehublink"><a href="http://codehub.org.uk">Main Site</a></li>
          </ul>
        </nav>
      </div>
  </header>