
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'with-grid-settings'.\A         on line 3 of /media/DATA/codehub/sass/goldencut.scss, in `with-grid-settings'\A         from line 3 of /media/DATA/codehub/sass/goldencut.scss\A \A 1: /media/DATA/codehub/sass/goldencut.scss"; }
