{% include head.html %}
<body class="index">
  {% include header_nav.html %}
    
  <div class="container cf">

    <div class="about">
        <section class="about section">
          <div class="for-you">
            <h2>{{ page.title }}</h2>
          </div>
        </section>
    </div> 
    
  </div> 

  <div class="container">
      <section class="organisers section">       
          {{ content }}
      </section>
      {% include footer.html %}
  </div><!-- container -->
</body>
</html>
