{% include head.html %}
<body class="index">
  {% include header_nav.html %}
  <div class="container cf">

    <div class="about">
      <section class="about section">
        <div class="for-you">
          <h2>{{ page.title }}</h2>
        </div>
      </section>
    </div>
  
  </div>
  <div class="container">
    <section class="organisers section">      
      <article>
        
        <h3>Posted on: {{ page.date | date_to_long_string }}</h3>
        <div class="posts-content">
          <div class="posts-inner">
        {{ content }}
          <p>
          {% if page.author %}
          By {{ page.author }}<br />
          {% endif %}
          {% if page.categories %}
          Posted in Categories: 
            {% for category in page.categories %}
              <a href="/categories.html#{{ category | First }}">{{ category | First }}</a>
            {% endfor %}
          {% endif %}
          </p>
          </div>
        </div>
      </article>
    </section>
    {% include footer.html %}
  </div>
  
  
</body>
</html>
